; Emacs 的配置
; doom 的一些遗留
.doom.d/custom.el
.emacs.d/straight/build/
.emacs.d/straight/repos/
.emacs.d/straight/modified/
.emacs.d/straight/build-cache.el
.emacs.d.bak/straight/build/
.emacs.d.bak/straight/repos/
.emacs.d.bak/straight/modified/
.emacs.d.bak/straight/build-cache.el

; OBS 配置是什么
.files/.config/obs-studio

; 字体
fonts/.uuid
fonts/opentype/.uuid
fonts/truetype/.uuid

; 背景
backgrounds

; Rime 建议忽略
.DS_Store
**/.idea/
.vscode/
dist/

**/build/
**/sync/
*.userdb/
.config/rime/installation.yaml
.config/rime/user.yaml

rime_console
rime_deployer
rime_patch

; mpv 忽略
.config/mpv/watch_later

; karabiner
.config/karabiner/automatic_backups
