[Environment]::SetEnvironmentVariable("CARGO_HOME", "{{ joinPath .chezmoi.homeDir ".cargo" }}", "User")
[Environment]::SetEnvironmentVariable("RUSTUP_HOME", "{{ joinPath .chezmoi.homeDir ".rustup" }}", "User")